{% extends "base.html" %}

{% block content %}
<div class="container py-5">
    <h2>About Our CBO</h2>
    <p>We are a community group working to reduce gender-based violence and to provide sanitary towels and education to girls and women. Our volunteers run workshops, deliver support packages and work with schools and local leaders to create safer spaces.</p>

    <h4>Programs</h4>
    <ul>
        <li>Sanitary pad distribution</li>
        <li>Support groups & counselling referrals</li>
        <li>Community awareness & workshops</li>
    </ul>
</div>
{% endblock %}
